@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
*
{
    font-family: 'Nunito Sans', sans-serif;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  
    
}
img:hover
{
    transform: scale(1.01);
}
#ResumeContent
{
    margin: 100px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mypic
{
    width: 150px;
    margin-top: 15px;
    border-radius: 5px;
}
.leftside
{
    width: 35%;
    background-color: rgb(47, 72, 90);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}
.left-info
{
    margin: 25px 20px;
    
}
.left-heading
{
    margin-bottom: -12px;
}
/* ------Right side---- */
.rightside
{
    align-items: center;
    /* background-color: aqua; */
    /* width: 100%; */
    width: 65%;
    
    
}
#myName
{
    margin: 0px 20px ;
    border-bottom: 2px solid ;
    font-size: 40px;  
}
#title 
{
   margin: 0 20px;
}
.career-objective,.education
{
    margin: 20px;
    width: 500px;
}
span
{
    border-bottom: 2px solid;
    
}
.education-container
{
    display: flex;
    margin-top: 13px;
}
#year
{
    margin-right: 20px;
    margin-top: -30px;
    padding: 0;
}
#degree
{
    margin-left: 30px;
    margin-top: -25px;
}
#degree h4, #degree p{
    margin-bottom: -15px;
}
.interset-container
{
    margin-left: 20px;
}
.list-interest
{
    display: flex;
    flex-wrap: wrap;
}
.list-interest h4{
    margin-left: 20px;
   
}
.download-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}
#download-btn
{
    background-color: rgb(3, 26, 42);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}
.rightside.hidden
{
    display: none;
}